# pyproject.toml

[build-system]
requires = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "transfa"
version = "0.2.6"
dynamic = ["description", "readme", "optional-dependencies", "dependencies", "classifiers", "authors", "license"]